{% extends 'core/base.html' %}
{% block subtitle %}Detalhe de uma Categoria{% endblock %}
{% block content %}
    <h2>Categorias</h2>
    <p>
        <a href="{% url 'category-list' %}">
            Listar Categorias
        </a>
        |
        <a href="{% url 'category-create' %}">
            Criar Categoria
        </a>
    </p>
    <h3>#{{ object.id }} {{ object.name }}</h3>
    <p>
        <a href="{% url 'category-update' object.id %}">
            Editar esta Categoria
        </a>
        |
        <a href="{% url 'category-delete' object.id %}">
            Deletar esta Categoria
        </a>
    </p>
    <h4>Produtos</h4>
    <ul>
    {% for product in object.product_set.all %}
        <li>
            <a href="{% url 'product-detail' product.id %}">
                #{{ product.id }} {{ product.name }}
            </a>
        </li>
    {% endfor %}
    </ul>
{% endblock %}