{% extends 'core/base.html' %}
{% block subtitle %}Formulário para Categoria{% endblock %}
{% block content %}
    <h2>Categorias</h2>
    <div>
        <a href="{% url 'category-list' %}">
            Listar Categorias
        </a>
        {% if object %}
            |
            <a href="{% url 'category-create' %}">
                Criar Categoria
            </a>
        {% endif %}
    </div>
    {% if object %}
        <h3>Editar Categoria</h3>
        <p>
            <a href="{% url 'category-detail' object.id %}">
                Ver detalhes desta Categoria
            </a>
        </p>
    {% else %}
        <h3>Criar Categoria</h3>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Salvar</button>
    </form>
{% endblock %}