{% extends 'core/base.html' %}
{% block subtitle %}Listagem de Categorias{% endblock %}
{% block content %}
    <h2>Categorias</h2>
    <div class="nav mb-3">
        <a class="nav-item nav-link" href="{% url 'category-create' %}">
            Criar Categoria
        </a>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nome</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for category in object_list %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.name }}</td>
                        <td>
                            <a href="{% url 'category-detail' category.id %}">Ver mais</a>
                            |
                            <a href="{% url 'category-update' category.id %}">Editar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}