<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Loja - Listagem de Categorias</title>
</head>
<body>
    <h1>Loja</h1>
    <h2>Categorias</h2>
    <p>
        <a href="{% url 'category-create' %}">Criar Categoria</a>
    </p>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
            </tr>
        </thead>
        <tbody>
            {% for category in object_list %}
                <tr>
                    <td>{{ category.id }}</td>
                    <td>{{ category.name }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>