{% extends 'core/base.html' %}
{% block subtitle %}Detalhe de um Produto{% endblock %}
{% block content %}
    <h2>Produtos</h2>
    <div class="nav mb-3">
        <a class="nav-item nav-link" href="{% url 'product-list' %}">
            Listar Produtos
        </a>
    </div>
    <h3>{{ object.name }}</h3>
    <dl class="row">
        <dt class="col-md-3">Valor</dt>
        <dd class="col-md-9">R$ {{ object.value }}</dd>
        <dt class="col-md-3">Quantidade</dt>
        <dd class="col-md-9">{{ object.amount }}</dd>
        <dt class="col-md-3">Categoria</dt>
        <dd class="col-md-9">{{ object.category.name }}</dd>
    </dl>
    <div class="nav">
        <a
            class="nav-item nav-link"
            href="{% url 'product-update' object.id %}"
        >
            Editar Produto
        </a>
    </div class="nav">
{% endblock %}