{% extends 'core/base.html' %}
{% block subtitle %}Listagem de Produtos{% endblock %}
{% block content %}
    <h2>Produtos</h2>
    <p>
        <a href="{% url 'product-create' %}">
            Criar Produtos
        </a>
    </p>
    <h3>Listagem de Produtos</h3>
    <form id="form">
        <fieldset>
            <legend>Alterar Visualização de Produtos</legend>
            <p>
                <label>Ordernar por</label>
                <select name="orderBy">
                    <option value="id">ID</option>
                    <option value="name">Nome</option>
                    <option value="value">Valor</option>
                    <option value="amount">Quantidade</option>
                    <option value="category">Categoria</option>
                </select>
            </p>
            <p>
                <label>Buscar por</label>
                <select name="fieldName">
                    <option value="id">ID</option>
                    <option value="name">Nome</option>
                    <option value="value">Valor</option>
                    <option value="amount">Quantidade</option>
                </select>
            </p>
            <p>
                <label>Valor a ser buscado</label>
                <input class="form-control" name="fieldValue" />
            </p>
            <button type="submit">Alterar</button>
        </fieldset>
    </form>
    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Nome</th>
                <th>Valor</th>
                <th>Quantidade</th>
                <th>Categoria</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for product in object_list %}
                <tr>
                    <td>{{ product.id }}</td>
                    <td>{{ product.name }}</td>
                    <td>R$ {{ product.value }}</td>
                    <td>{{ product.amount }}</td>
                    <td>{{ product.category.name }}</td>
                    <td>
                        <a href="{% url 'product-detail' product.id %}">
                            Ver mais
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        const inputEl = document.querySelector('input[name=fieldValue]')

        document.querySelector('select[name=fieldName]')
            .addEventListener('change', function () {
                inputEl.value = ''

                if (['id', 'value', 'amount'].includes(this.value)) {
                    inputEl.type = 'number'
                    inputEl.min = 1;

                    if (this.value === 'value') {
                        inputEl.step = '0.01'
                    } else {
                        inputEl.step = '1'
                    }
                } else {
                    inputEl.type = 'text'
                    inputEl.removeAttribute('type')
                    inputEl.removeAttribute('min')
                    inputEl.removeAttribute('step')
                }
            })
    </script>
{% endblock %}