{% extends 'core/base.html' %}
{% block subtitle %}Formulário para Produto{% endblock %}
{% block content %}
    <h2>Produtos</h2>
    <div class="nav mb-3">
        <a class="nav-item nav-link" href="{% url 'product-list' %}">
            Listar Produtos
        </a>
        {% if object %}
            <a
                class="nav-item nav-link"
                href="{% url 'product-detail' object.id %}"
            >
                Ver Produto de forma detalhada
            </a>
        {% endif %}
    </div>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary" type="submit">Salvar</button>
    </form>
{% endblock %}